@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.text-block h3 {
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.text-block .block {
    position: relative;
    padding: 20px;
    margin-right: 40px;
    max-width: 500px;
    background: rgba(0, 255, 0, .2);
}

.text-block {
    position: absolute;
    bottom: 0;
    display: flex;
}

.social li a {
    display: inline-block;
    transform: scale(0.5);
}

.social li {
    list-style: none;
}

ul.social {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
}

.content a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 600;
}

.content p {
    color: white;
    margin-top: -15px;
}

span {
    font-weight: 800;
    font-size: 3.5em;
    letter-spacing: 5px;
}

.content h2 {
    font-size: 3.5em;
    color: #ffffff;
    font-weight: 400;
    line-height: 2em;
}

.content {
    position: absolute;
    left: 100px;
    z-index: 10;
    max-width: 600px;
}

img.bird {
    position: absolute;
    bottom: 0;
    right: 100px;
    max-height: 80%;
    z-index: 100;
}

img.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.toggle {
    position: relative;
    height: 40px;
    width: 40px;
    background: url(img/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

a.logo {
    font-size: 1.5em;
    position: relative;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

body {
    background: #000000;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 150px;
}